*/.idea/
*/.kotlintest/
*/out/*

Thumbs.db
.DS_Store
.gradle/
build/
bin/
ci/__pycache__/
ci/performance/*
ci/performance-tests/jmeter.log
ci/performance-tests/log.jtl
ci/performance-tests/*ramp
.idea/*
.vscode/*
!/.idea/runConfigurations
*.iml
*.ipr
*.iws
.project
.settings
.classpath
*.log
*.war
out
*.orig
/channel-service-tests/target/*
/channel-service-tests/output/*
*channel-service-stack.yml

*/build/reports/
outputfile.txt
/service/src/main/resources/application-local.yml
/mailExamples/**

# cdklocust
.vscode

*.swp
.pytest_cache
*.egg-info

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# CDK Context & Staging files
.cdk.staging/
cdk.out/
